*{
    color: #fff;
    background-color: #222;
}

input{
    color: #222;
    background-color: #fff;
}

.result{
    display: flex;
    flex-wrap: wrap;

    margin: 0 30px;
}

.result > div{
    margin: 5px;
}